<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 40 %>
        <%= @user.name %>
      </h1>
    </section>
    <%= form_for @user do |f| %>
        <%= f.text_field :name %>
        <%= f.text_area :email, size: "60x12" %>
        <%= f.submit "Create" %>
    <% end %>

  </aside>
</div>